:root {
	--primary-color: #bebdbe;
	--secondary-color: #dedadd;
	--tertiary-color: #cec8c8;
	--components-color: #e9e6e0;
	--quinary-color: #e6e6e0;
	--bordeaux-color: #734158;
	--blue-color: #3e4e5d;
}
@font-face {
	font-family: "The Seasons Font Family";
	src: url("/font/The Seasons Font Family/fonts/fonnts.com-theseasons-bd.otf");
}
body {
	font-family: "The Seasons Font Family", sans-serif;
}
.header-custom {
	background-color: var(--quinary-color);
}
